/* ============================================================
   文件名: icons.css
   描述: 专门管理全站集合按钮的图标资源
   路径说明: 相对路径 '../img/' 指向的是 css 文件夹的上级目录下的 img 文件夹
   ============================================================ */

/* ------------------------------------------------------------
   [标签] 干实验 (Dry Lab)
   ------------------------------------------------------------ */

/* 1. AlphaFold 预测 */
.icon-alphafold {
    --icon-default: url('../img/icons/alphafold/alphafold_0.png'); 
    --icon-hover:   url('../img/icons/alphafold/alphafold_1.png'); 
    --icon-active:  url('../img/icons/alphafold/alphafold_2.png');
}

/* 2. 算法图标 */
.icon-algorithm {
    --svg-url: url('../img/icons/font_awesome/algorithm.svg');
}